:root {
  --op-overlay-z-index: 1;
  --op-overlay-background: rgba(0, 0, 0, 0.7);
  --op-popup-background: #fff;
}

.op-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--op-overlay-z-index);
  background: var(--op-overlay-background);
}

.op-popup {
  position: fixed;
  z-index: 1;
}
.op-popup--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--op-popup-background);
}
.op-popup__content {
  width: 400px;
  padding: 50px 20px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .op-popup__content {
    width: 300px;
  }
}
