:root {
  --op-loading-spinner-color: #c8c9cc;
  --op-loading-spinner-size: 30px;
  --op-loading-spinner-duration: 0.8s;
}

.op-loading {
  display: inline-block;
  color: var(--op-loading-spinner-color);
}
.op-loading__spinner {
  position: relative;
  display: inline-block;
  width: var(--op-loading-spinner-size);
  height: var(--op-loading-spinner-size);
  animation: op-rotate var(--op-loading-spinner-duration) linear infinite;
}
.op-loading__circular {
  display: block;
  width: 100%;
  height: 100%;
}
.op-loading__circular circle {
  animation: op-circular 1.5s ease-in-out infinite;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}

@keyframes op-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes op-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}
